$cellSize: 3em;
$elementSpacing: 1em;

$fieldWidth: 6;
$groupWidth: 3;

$puyoColor1: red;
$puyoColor2: green;
$puyoColor3: blue;
$puyoColor4: yellow;
$puyoColor5: purple;

$player1FrameColor: white;
$player1bgColor: #00a1f7;
$player2FrameColor: white;
$player2bgColor: #cd5e71;

@import "group_animation";
@import "grid";
@import "puyo";

.group {
  overflow: visible;
  width: $groupWidth * $cellSize;
  background: transparent;
}

.game {
  background: #31b808;
  width: 100vw;
  height: 100vh;

  @mixin playerCustomStyles($frameColor, $backgroundColor) {
    $playerFieldBackgroundColor: desaturate($backgroundColor, 80%);

    .queue {
      background-color: $playerFieldBackgroundColor;
      border-color: $frameColor;
    }

    .field {
      .garbage {
        background: $backgroundColor;
        border-bottom: 2px solid $frameColor;
      }

      border-color: $frameColor;

      > .grid {
        background-color: $playerFieldBackgroundColor
      }
    }
  }

  .player1 {
    @include playerCustomStyles($player1FrameColor, $player1bgColor);
  }

  .player2 {
    @include playerCustomStyles($player2FrameColor, $player2bgColor);
  }

  .player {
    float: left;
    margin: $elementSpacing;

    .queue {
      float: left;
      margin: $elementSpacing;
      padding: $elementSpacing;
      border-width: 1px;
      border-style: solid;
      box-sizing: content-box;
      overflow: hidden;
    }

    .field {
      float: left;

      .garbage {
        width: $cellSize * $fieldWidth;
        height: $cellSize + $elementSpacing*2;
        box-sizing: content-box;
        padding-top: $elementSpacing;
      }

      position: relative;
      border-width: 2px;
      border-style: solid;
      width: $cellSize * $fieldWidth;
      box-sizing: content-box;
      overflow: hidden;
    }
  }
}