@keyframes puyo-normal-move {
  from {
    padding-top: 0em;
  }
  to
  {
    padding-top: 3em;
  }

}

.animated-group {
  padding-top: 3em;
  position: absolute;
  background: transparent;
  overflow: visible;
  //animation-name: puyo-normal-move;
  //animation-iteration-count: 100;
  //animation-timing-function: linear;
}