@keyframes animated-group {
  from {
    padding-top: 0em;
  }
  to
  {
    padding-top: 3em;
  }

}

.animated-group {
  position: absolute;
  top: 0px;
  background: transparent;

  > .group {
    animation-name: animated-group;
    animation-timing-function: linear;
    animation-iteration-count: 100;
  }
}