@mixin puyo($color) {
  //border: 1px solid saturate($color, 100%);
  border-radius: 50%;
  //background-color: desaturate($color, 80%);
  background-color: $color;
  height: $cellSize;
  width: $cellSize;
  box-sizing: border-box;
  //background-image: url('/icon192.png');
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-position: center;
  //background-size: contain;
}

@mixin puyoCellBackground($color) {
  background-color: rgba($color, 0.5);
  box-shadow: 0 0 $cellSize/2 0 $color;
}

.cell {
  .puyo {
    &.type1 {
      @include puyo($puyoColor1);
    }
    &.type2 {
      @include puyo($puyoColor2);
    }
    &.type3 {
      @include puyo($puyoColor3);
    }
    &.type4 {
      @include puyo($puyoColor4);
    }
    &.type5 {
      @include puyo($puyoColor5);
    }
  }

  &.cell-empty {
    background-color: transparent;
  }

  &:not(.cell-empty) {
    border-radius: 50%;
    opacity: 0.5;

    &.type1 {
      @include puyoCellBackground($puyoColor1);
    }

    &.type2 {
      @include puyoCellBackground($puyoColor2);
    }

    &.type3 {
      @include puyoCellBackground($puyoColor3);
    }

    &.type4 {
      @include puyoCellBackground($puyoColor4);
    }

    &.type5 {
      @include puyoCellBackground($puyoColor5);
    }
  }
}